.list {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.list-overlay {
  background: #2090ff;
}

.button.button-overlay {
  color: #fff;
}

.clip-path-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: clip-path 0.25s ease;
  clip-path: inset(0px 75% 0px 0% round 17px);
}
